@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #01070e;
    --background: #ddebfd;
    --primary: #ee8b11;
    --secondary: #aed0f9;
    --accent: #cd770e;
  }
  .dark {
    --text: #f1f7fe;
    --background: #021022;
    --primary: #ee8b11;
    --secondary: #062851;
    --accent: #f19b32;
  }
}